In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import nltk as nk
%matplotlib inline

In [4]:
df = pd.read_csv('indeed_job_dataset.csv')

In [5]:
df.head()

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0

In [6]:
df.shape

(5715, 43)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5715 entries, 0 to 5714
Data columns (total 43 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        5715 non-null   int64
 1   Job_Title                         5715 non-null   object
 2   Link                              5715 non-null   object
 3   Queried_Salary                    5715 non-null   object
 4   Job_Type                          5715 non-null   object
 5   Skill                             5483 non-null   object
 6   No_of_Skills                      5715 non-null   int64
 7   Company                           5611 non-null   object
 8   No_of_Reviews                     4753 non-null   float64
 9   No_of_Stars                       4753 non-null   float64
 10  Date_Since_Posted                 5611 non-null   float64
 11  Description                       5413 non-null   object
 12  Location                          5463 non-null   object
 13  Company_Revenue                   2017 non-null   object
 14  Company_Employees                 3199 non-null   object
 15  Company_Industry                  3826 non-null   object
 16  python                            5715 non-null   int64
 17  sql                               5715 non-null   int64
 18  machine learning                  5715 non-null   int64
 19  r                                 5715 non-null   int64
 20  hadoop                            5715 non-null   int64
 21  tableau                           5715 non-null   int64
 22  sas                               5715 non-null   int64
 23  spark                             5715 non-null   int64
 24  java                              5715 non-null   int64
 25  Others                            5715 non-null   int64
 26  CA                                5715 non-null   int64
 27  NY                                5715 non-null   int64
 28  VA                                5715 non-null   int64
 29  TX                                5715 non-null   int64
 30  MA                                5715 non-null   int64
 31  IL                                5715 non-null   int64
 32  WA                                5715 non-null   int64
 33  MD                                5715 non-null   int64
 34  DC                                5715 non-null   int64
 35  NC                                5715 non-null   int64
 36  Other_states                      5715 non-null   int64
 37  Consulting and Business Services  5715 non-null   int64
 38  Internet and Software             5715 non-null   int64
 39  Banks and Financial Services      5715 non-null   int64
 40  Health Care                       5715 non-null   int64
 41  Insurance                         5715 non-null   int64
 42  Other_industries                  5715 non-null   int64
dtypes: float64(3), int64(29), object(11)
memory usage: 1.9+ MB

In [8]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5715.0,2857.000000,1649.922725,0.0,1428.5,2857.0,4285.5,5714.0
No_of_Skills,5715.0,7.803675,5.091596,0.0,4.0,7.0,11.0,20.0
No_of_Reviews,4753.0,4311.389649,17860.068211,2.0,33.0,387.0,2581.0,157475.0
No_of_Stars,4753.0,3.845613,0.409466,1.3,3.7,3.9,4.1,5.0
Date_Since_Posted,5611.0,22.273570,10.068934,1.0,14.0,30.0,30.0,30.0
python,5715.0,0.581802,0.493306,0.0,0.0,1.0,1.0,1.0
sql,5715.0,0.543132,0.498180,0.0,0.0,1.0,1.0,1.0
machine learning,5715.0,0.401925,0.490330,0.0,0.0,0.0,1.0,1.0
r,5715.0,0.390901,0.487995,0.0,0.0,0.0,1.0,1.0
hadoop,5715.0,0.299913,0.458259,0.0,0.0,0.0,1.0,1.0
tableau,5715.0,0.216273,0.411739,0.0,0.0,0.0,0.0,1.0
sas,5715.0,0.164654,0.370901,0.0,0.0,0.0,0.0,1.0
spark,5715.0,0.267892,0.442900,0.0,0.0,0.0,1.0,1.0
java,5715.0,0.258968,0.438106,0.0,0.0,0.0,1.0,1.0
Others,5715.0,0.901487,0.298033,0.0,1.0,1.0,1.0,1.0
CA,5715.0,0.244094,0.429587,0.0,0.0,0.0,0.0,1.0
NY,5715.0,0.105162,0.306789,0.0,0.0,0.0,0.0,1.0
VA,5715.0,0.058443,0.234599,0.0,0.0,0.0,0.0,1.0
TX,5715.0,0.057568,0.232945,0.0,0.0,0.0,0.0,1.0
MA,5715.0,0.047419,0.212552,0.0,0.0,0.0,0.0,1.0
IL,5715.0,0.041995,0.200595,0.0,0.0,0.0,0.0,1.0
WA,5715.0,0.038845,0.193243,0.0,0.0,0.0,0.0,1.0
MD,5715.0,0.029571,0.169416,0.0,0.0,0.0,0.0,1.0
DC,5715.0,0.024497,0.154600,0.0,0.0,0.0,0.0,1.0
NC,5715.0,0.024322,0.154060,0.0,0.0,0.0,0.0,1.0
Other_states,5715.0,0.283990,0.450971,0.0,0.0,0.0,1.0,1.0
Consulting and Business Services,5715.0,0.128259,0.334407,0.0,0.0,0.0,0.0,1.0
Internet and Software,5715.0,0.113211,0.316878,0.0,0.0,0.0,0.0,1.0
Banks and Financial Services,5715.0,0.080315,0.271804,0.0,0.0,0.0,0.0,1.0
Health Care,5715.0,0.059318,0.236239,0.0,0.0,0.0,0.0,1.0
Insurance,5715.0,0.039720,0.195318,0.0,0.0,0.0,0.0,1.0
Other_industries,5715.0,0.248644,0.432265,0.0,0.0,0.0,0.0,1.0

In [9]:
df['tit_ind'] = df['Job_Title'] + df['Company_Industry']

In [11]:
df['tit_ind'].head()

0                            Data ScientistHealth Care
1                                                  NaN
2                                                  NaN
3    Graduate Studies Program - Data ScientistGover...
4         Data Scientist IBanks and Financial Services
Name: tit_ind, dtype: object

In [16]:
import re
from nltk.corpus import stopwords
from nltk.corpus import words
from nltk.stem.porter import PorterStemmer
#nltk.download('stopwords')
#nltk.download('words')

In [18]:
!pip install mlflow

Requirement already satisfied: mlflow in c:\users\shilpi\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (0.17.4)
Requirement already satisfied: requests<3,>=2.17.3 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from mlflow) (2.28.1)
Requirement already satisfied: Flask<3 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.1.2)
Requirement already satisfied: alembic<2 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.9.2)
Requirement already satisfied: scipy<2 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.9.1)
Requirement already satisfied: cloudpickle<3 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (2.0.0)
Requirement already satisfied: querystring-parser<2 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.2.4)
Requirement already satisfied: protobuf<5,>=3.12.0 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from mlflow) (3.19.6)
Requirement already satisfied: waitress<3 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (2.1.2)
Requirement already satisfied: entrypoints<1 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (0.4)
Requirement already satisfied: pandas<2 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.4.4)
Requirement already satisfied: gitpython<4,>=2.1.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (3.1.30)
Requirement already satisfied: importlib-metadata!=4.7.0,<6,>=3.7.0 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from mlflow) (5.1.0)
Requirement already satisfied: sqlparse<1,>=0.4.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (0.4.3)
Requirement already satisfied: Jinja2<4,>=3.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (3.1.2)
Requirement already satisfied: pyyaml<7,>=5.1 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (6.0)
Requirement already satisfied: shap<1,>=0.40 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (0.41.0)
Requirement already satisfied: pyarrow<11,>=4.0.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (10.0.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (8.0.4)
Requirement already satisfied: scikit-learn<2 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.0.2)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.4.39)
Requirement already satisfied: markdown<4,>=3.3 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from mlflow) (3.4.1)
Requirement already satisfied: numpy<2 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (1.21.6)
Requirement already satisfied: docker<7,>=4.0.0 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (6.0.1)
Requirement already satisfied: pytz<2023 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (2022.1)
Requirement already satisfied: packaging<23 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from mlflow) (22.0)
Requirement already satisfied: matplotlib<4 in c:\users\shilpi\anaconda3\lib\site-packages (from mlflow) (3.5.2)
Requirement already satisfied: Mako in c:\users\shilpi\anaconda3\lib\site-packages (from alembic<2->mlflow) (1.2.4)
Requirement already satisfied: colorama in c:\users\shilpi\anaconda3\lib\site-packages (from click<9,>=7.0->mlflow) (0.4.5)
Requirement already satisfied: pyjwt>=1.7.0 in c:\users\shilpi\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.4.0)
Requirement already satisfied: six>=1.10.0 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.16.0)
Requirement already satisfied: tabulate>=0.7.7 in c:\users\shilpi\anaconda3\lib\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.10)
Requirement already satisfied: oauthlib>=3.1.0 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from databricks-cli<1,>=0.8.7->mlflow) (3.2.2)
Requirement already satisfied: pywin32>=304 in c:\users\shilpi\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (305)
Requirement already satisfied: websocket-client>=0.32.0 in c:\users\shilpi\anaconda3\lib\site-packages (from docker<7,>=4.0.0->mlflow) (0.58.0)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from docker<7,>=4.0.0->mlflow) (1.26.13)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from Flask<3->mlflow) (2.2.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\shilpi\anaconda3\lib\site-packages (from Flask<3->mlflow) (2.0.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\shilpi\anaconda3\lib\site-packages (from gitpython<4,>=2.1.0->mlflow) (4.0.10)
Requirement already satisfied: zipp>=0.5 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from importlib-metadata!=4.7.0,<6,>=3.7.0->mlflow) (3.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\shilpi\anaconda3\lib\site-packages (from Jinja2<4,>=3.0->mlflow) (2.1.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\shilpi\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\shilpi\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\shilpi\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\shilpi\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\shilpi\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\shilpi\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (4.25.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from requests<3,>=2.17.3->mlflow) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from requests<3,>=2.17.3->mlflow) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from requests<3,>=2.17.3->mlflow) (3.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shilpi\anaconda3\lib\site-packages (from scikit-learn<2->mlflow) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\shilpi\anaconda3\lib\site-packages (from scikit-learn<2->mlflow) (1.1.0)
Requirement already satisfied: slicer==0.0.7 in c:\users\shilpi\anaconda3\lib\site-packages (from shap<1,>=0.40->mlflow) (0.0.7)
Requirement already satisfied: tqdm>4.25.0 in c:\users\shilpi\anaconda3\lib\site-packages (from shap<1,>=0.40->mlflow) (4.64.1)
Requirement already satisfied: numba in c:\users\shilpi\anaconda3\lib\site-packages (from shap<1,>=0.40->mlflow) (0.55.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shilpi\anaconda3\lib\site-packages (from sqlalchemy<2,>=1.4.0->mlflow) (1.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\shilpi\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow) (5.0.0)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in c:\users\shilpi\anaconda3\lib\site-packages (from numba->shap<1,>=0.40->mlflow) (0.38.0)
Requirement already satisfied: setuptools in c:\users\shilpi\appdata\roaming\python\python39\site-packages (from numba->shap<1,>=0.40->mlflow) (65.6.3)

corpus = []
for i in range(0, len(df['tit_ind'])):
    jobtitle = re.sub('[^a-zA-Z]', ' ', df['tit_ind'][i])
    jobtitle = jobtitle.lower()
    jobtitle = jobtitle.split()
    ps = PorterStemmer()
    jobtitle = [ps.stem(word) for word in jobtitle if not word in set(stopwords.words('english'))] # this will also remove arabic word
    jobtitle = ' '.join(jobtitle)
    corpus.append(jobtitle)

In [19]:
import mlflow
import mlflow.sklearn

SyntaxError: invalid syntax (3574192917.py, line 1)